
body{
    height: 100vh;
    background-color: black;
}
.container-authforms{
    padding-top:0em;
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    .authforms{
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        form{
            padding:1em!important;
            display: flex;
            flex-flow: column nowrap;
            padding: 0em;
            margin: 0em;

            border-radius: 10px;
            background-color: rgba(0,0,0,0.3);

            h2{
                text-align: center;
                margin-bottom: 0.5em;
            }
            .actions{
                padding-top:5px;
                display:flex;
                justify-content: end;
            }
        }
    }
}

.modern-text-input{
    margin: 7px 0px 7px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border:solid 2px gray;
    color:white;
    background-color: rgba(0,0,0,0.3);

}

footer{
    position: absolute;
    bottom:0px;
    left:0px;
    width: 100%;
}

.form-connexion{
    margin: 0px;
}
.form-inscription{
    margin: 0px;
}